* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

body {
    background-color: rgb(39, 42, 43);
}

.container_principal {
    margin: 30px auto;
    max-width: 600px;
    padding: 20px;
    background-color: rgb(145, 143, 141);
    border-radius: 8px;
}

.titulo {
    text-align: center;
    margin-bottom: 15px;
}

.formulario {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid slateblue;
    width: 70%;
    text-align: center;
}

button {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: slateblue;
    color: white;
}

button:hover {
    opacity: 0.9;
}

.resultado {
    text-align: center;
    margin-bottom: 10px;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

li {
    padding: 8px;
    background-color: aliceblue;
    border: 2px solid black;
    cursor: pointer;
}

li:hover {
    background-color: #ffdddd;
}


/* cacelado 

.container_principal>p {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

 */

 /*
.tarefas_container>input {
    width: 400px;
    height: 30px;
    padding-left: 10px;

}
 */

  /*
.tarefas_container>button {
    width: 75px;
    height: 30px;
    cursor: pointer;
    background-color: aquamarine;
    border: none;
    font-weight: bold;
} 
     */