* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    max-width: 100%;
    min-width: 600px;
    background-color: rgb(39, 42, 43);

}

.container_principal {
    margin: 50px auto;
    width: 500px;
    padding: 10px;
    background-color: rgb(145, 143, 141);
}

.titulo{
display: flex;
justify-content: center;
}

.formulario{
display: flex;
justify-content:center;
}
input{
background-color:rgba(245, 245, 220, 0.37);
border-radius: 10px;
border: slateblue 2px solid ;
width: 200px;
display: flex;
justify-content: center;
text-align: center;
margin: auto 10px; 
}
button{
display:flex; 
border-radius: 10px;
width:80px;
justify-content: center;
}

/* cacelado 

.container_principal>p {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

 */

 /*
.tarefas_container>input {
    width: 400px;
    height: 30px;
    padding-left: 10px;

}
 */

  /*
.tarefas_container>button {
    width: 75px;
    height: 30px;
    cursor: pointer;
    background-color: aquamarine;
    border: none;
    font-weight: bold;
} 
     */